* {
    box-sizing: border-box;
    /* overflow-x: scroll; */
  }
  
  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .colors {
    position: absolute;
    top: 0;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  
  .pixel{
    height: 40px;
    width: 40px;
    min-width: 40px;
    border: 1px solid gray;
  }
  #row{
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */

  }
  body{
    overflow-x: scroll;
  }